<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-history-tab" data-toggle="pill" href="#v-pills-history" role="tab" aria-controls="v-pills-home" aria-selected="true">История</a>
      <a class="nav-link" id="v-pills-structure-tab" data-toggle="pill" href="#v-pills-structure" role="tab" aria-controls="v-pills-profile" aria-selected="false">Структура</a>
      <a class="nav-link" id="v-pills-docs-tab" data-toggle="pill" href="#v-pills-docs" role="tab" aria-controls="v-pills-messages" aria-selected="false">Документы</a>
      <a class="nav-link" id="v-pills-projects-tab" data-toggle="pill" href="#v-pills-projects" role="tab" aria-controls="v-pills-settings" aria-selected="false">Проекты</a>
      <a class="nav-link" id="v-pills-partners-tab" data-toggle="pill" href="#v-pills-partners" role="tab" aria-controls="v-pills-settings" aria-selected="false">Партнеры</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-history" role="tabpanel" aria-labelledby="v-pills-home-tab">История ассоциации баскетбола в Таразе</div>
      <div class="tab-pane fade" id="v-pills-structure" role="tabpanel" aria-labelledby="v-pills-profile-tab">Административный департамент</div>
      <div class="tab-pane fade" id="v-pills-docs" role="tabpanel" aria-labelledby="v-pills-messages-tab">Документы ассоциации</div>
      <div class="tab-pane fade" id="v-pills-projects" role="tabpanel" aria-labelledby="v-pills-settings-tab">Проекты ассоциации</div>
      <div class="tab-pane fade" id="v-pills-partners" role="tabpanel" aria-labelledby="v-pills-settings-tab">Партнеры ассоциации</div>
    </div>
  </div>
</div>

<!--<mat-toolbar>-->
<!--  <mat-toolbar-row>-->
<!--    <span>История</span>-->
<!--  </mat-toolbar-row>-->

<!--  <mat-toolbar-row>-->
<!--    <a><span>Структура</span></a>-->
<!--    <span class="example-spacer"></span>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
<!--  </mat-toolbar-row>-->

<!--  <mat-toolbar-row>-->
<!--    <span>Документы</span>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
<!--  </mat-toolbar-row>-->

<!--  <mat-toolbar-row>-->
<!--    <span>Проекты</span>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
<!--  </mat-toolbar-row>-->

<!--  <mat-toolbar-row>-->
<!--    <span>Партнеры</span>-->
<!--    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>-->
<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
