
.mat-toolbar {
  width: 100%;
  height: 100px;
  background-color:#353A40 ;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  margin: 0;
   font-size: 18px;
  font-family: 'Nunito', sans-serif;
}

/*#481A7D*/
