<div class="mat-badge-large">
<mat-toolbar>
  <mat-toolbar-row>
    <a href="#">
      <img src="../../../assets/images/logo11.png" width="250" height="90" alt="">
    </a>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/'">Главная</a>
      <a mat-button [routerLink]="'/news'">Новости</a>
      <a mat-button [routerLink]="'/association'">Ассоциация</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
</div>

